/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --paragraph-color: #353430;
  --section-title-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --background: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --subtitle-color: #353430;
    --paragraph-color: #353430;
    --section-title-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
    --background: url('../images/cover-image-light.png');
  }

  .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}